<div id="<%= dom_id lecture %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= lecture.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= lecture.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= lecture.category_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this lecture", lecture, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this lecture', edit_lecture_path(lecture), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
