<%= form_with(model: dispensed_lecture, class: "contents") do |form| %>
  <% if dispensed_lecture.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dispensed_lecture.errors.count, "error") %> prohibited this dispensed_lecture from being saved:</h2>

      <ul>
        <% dispensed_lecture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :lecture_id %>
    <%= form.select :lecture_id, options_for_select(Lecture.all.map { |p| [p.name, p.id] }), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :promotion_id %>
    <%= form.select :promotion_id, options_for_select(Promotion.all.map { |p| [p.name, p.id] }), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :semester_id %>
    <%= form.select :semester_id, options_for_select(Semester.all.map { |p| [p.name, p.id] }), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.select :user_id, options_for_select(User.where(user_type_id: UserType.find_by(slug: 'TEA')).map { |p| [p.full_name, p.id] }), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
